extends layout
block content
  .container
    if message.length>0
      .alert.alert-info = message
        div= message
  .container
    form(method='POST')
      legend Forgot Password
      .form-group
        label(for='email') Email
        input.form-control(type='text', name='email', autofocus)
      button.btn.btn-primary(type='submit') Reset Password
