extend layout
block content
	body
		.container
			.jumbotron.text-center
				h1
					|  Welcome to singing session!
				script.     
					setTimeout('window.location.href="/login"', 3000)
				h6
					p If you are not automatically redirected please 
						a(href="/login") click here

