extend layout
block content
	body
		.container
			.jumbotron.text-center
				h1
					|  Welcome to singing session!
				|     
				a.btn.btn-default(href='/login')
					span.fa.fa-lock
					|  Login


