doctype html
html
	head
		title Music Therapy singing session!
		
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		
		img(src="/img/MNSI-LogoBlue.png", align="left", height="100%", width="200")
		img(src="/img/Melb_music.jpg", align="right", height="100%", width="200")
		center
			img(src="/img/choir_test.jpg",align="middle", height="50%", width="15%")
	block content
	block scripts
