doctype html
html
	head
		title Music Therapy singing session!
		block scripts
		script(src="//code.jquery.com/jquery-1.11.2.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script.
			function goTo(page){
				window.location.href=page
			}
		link( rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link( rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		.container-fluid
			.row
				.col-md-4
					img(src="/img/MNSI-LogoBlue.png", align="left", height="70", width="200")
				.col-md-4
					img(src="/img/choir_test.jpg",align="middle", height="70", width="65%")
				.col-md-4
					img(src="/img/Melb_music.jpg", align="right", height="70", width="200")
		style.
			body{overflow-x: hidden;overflow-y: scroll;}
	body
		block content
