doctype html
html
	head
		title Music Therapy singing session!
		block scripts
		link( rel="shortcut icon" href="favicon.ico")
		script(src="//code.jquery.com/jquery-1.11.2.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script.
			function goTo(page){
				window.location.href=page
			}
			$(document).ready(function () {
				$('.dropdown-toggle').dropdown();
				});
		link( rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link( rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		style.
			body{overflow-x: hidden;overflow-y: scroll;}
	body
	.navbar.navbar-inverse.navbar-static-top(role='navigation')
		.container-fluid
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				a.navbar-brand Music Therapy
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					if user
						li
							a(href='/home') Conference Mode
						li
							a(href='/profile') Profile
						li
							a(href='/recordings') Recordings
						li
							a(href='/game') Game Test
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle="dropdown" )
								| WebVR Examples
								span.fa.fa-caret-down.fa-3
							ul.dropdown-menu
								li
									a(href='/polarsea') Polar Sea
								li
									a(href='/cubes') Cubes
						if (user.admin)
							li
								a(href='/users') Users
							li
								a(href='/signup') Create Account
						li
							a(href='/logout') Logut
					else
						li
							a(href='/login') Login
	.container-fluid
		.row
			.col-md-4
				img(src="/img/MNSI-LogoBlue.png", align="left", height="70", width="200")
			.col-md-4
				img(src="/img/choir_test.jpg",align="middle", height="70", width="65%")
			.col-md-4
				img(src="/img/Melb_music.jpg", align="right", height="70", width="200")
	//.container
		//if message.error
			//.alert.alert-danger = message
		//if message.info
			//.alert.alert-info = message
		//if message.success
			//.alert.alert-success = message
	block content
