extend layout
block content
	br
	.container-fluid
		.row
			// LOCAL INFORMATION
			.col-sm-6
				.well
					h3
						span.fa.fa-home
						|  My details
					p
						strong Name: #{user.fname} #{user.lname}
					p
						strong Email: #{user.email}

		.row
