extends layout

block content
  .container-fluid
    .col-xs-4.col-xs-offset-4
      h1
        span.fa.fa-unlock
        |  Forgot Password
      if message.length>0
        .alert.alert-success= message
      form(method='POST')
        .form-group
          label(for='password') New Password
          input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
        .form-group
          label(for='confirm') Confirm Password
          input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
        .form-group
          button.btn.btn-primary(type='submit') Update Password
