extend layout
block content
	.container-fluid
		.col-sm-6.col-sm-offset-3
			h1
				span.fa.fa-sign-in
				|  Create new account
			if message.length>0
				.alert.alert-danger= message

			// LOGIN FORM
			form(action="/signup", method="post")
				.form-group
					label First Name
					input.form-control(type="text", name="fname")
				.form-group
					label Last Name
					input.form-control(type="text", name="lname")
				.form-group
					label Email
					input.form-control(type="text", name="email")
				.form-group
					label Password
					input.form-control(type="password", name="password")

				input(type="checkbox", name="admin", checked=(true===false ? "checked" : undefined))
				strong   Admin?
				br
				br
				button.btn.btn-warning.btn-lg(type="submit") Signup
